<div id="main-focus-stats">
	<div class="main-focus-stats-form">
		<input type="text" placeholder="Tags - separated by a comma" id="newTags">
		<input type="button" value="Assign tag(s)" id="assignTags">
	</div>

	<div>Tags:<div class="main-focus-stats-tagList"></div></div>

	<div class="main-focus-stats-options">
		Hide tagged elements: <input type="checkbox" id="hide-tagged" name="hide-tagged">
	<div>

	<div class="main-focus-stats-search">
		<input type="text" id="main-focus-stats-search-input" placeholder="Search ...">
	</div>

	<table class="main-focus-stats-list">
		<thead><tr><th><input type="checkbox" id="checkAll" /></th><th>Exe</th><th>Name</th><th>Time</th><th>Tags</th></tr></thead>
		<tbody id="main-focus-stats-data"></tbody>
	</table>
</div>
<script>const currentWindow = 'focus-stats';</script>
<script type="text/javascript" src="../js/main.js"></script>